DEADSHOT_PROD_MODE="0"
DEADSHOT_ENABLE_OFFENSIVE_MODULES="0"

PROJECT_DISPLAY_NAME="DEADSHOT"
PROJECT_CONSOLE_NAME="DEADSHOT OPERATIONS CONSOLE"
PROJECT_MOTTO="SECURITY"
ENABLE_PREMIUM_LOADING="1"
AUTO_START_SHIELD="0"

TOOLS_DIR="${SCRIPT_DIR}/Tools"
OPSEC_RUNTIME_DIR="/run/deadshot"

ENABLE_OPSEC="0"
OPSEC_ENABLE_TOR="0"

ENABLE_LOG_SCRUB="0"
ALLOW_UNVERIFIED_DOWNLOADS="0"

PROXY_ADDR="socks5h://127.0.0.1:9050"
OPSEC_ENABLE_MAC_SPOOF="0"
SPOOF_REQUIRED="0"
SPOOF_IFACE=""
SPOOF_CONNECTIVITY_CHECK="1"
SPOOF_CONNECTIVITY_TARGETS="1.1.1.1 8.8.8.8"

PHONEINFOGA_INSTALL_SHA256=""
OLLAMA_INSTALL_SHA256=""
RUSTSCAN_DEB_SHA256=""
SLIVER_SERVER_SHA256=""
LINPEAS_SHA256=""
WINPEAS_SHA256=""

COMMIT_PIN_ZPHISHER=""
COMMIT_PIN_CAMPHISH=""
COMMIT_PIN_THEHARVESTER=""
COMMIT_PIN_SQLMAP=""
COMMIT_PIN_SHERLOCK=""
COMMIT_PIN_NIKTO=""
COMMIT_PIN_SEEKER=""
COMMIT_PIN_AUTO_TOR=""

AGENT_POLICY_FILE="deadshot_agents_policy.json"
AGENT_SCOPE_FILE="deadshot_scope.json"
AGENT_SCOPE_ENFORCE="1"
AGENT_MAX_ACTIONS_PER_RUN="8"
AGENT_AUDIT_LOG_FILE="Reports/Deadshot_Agent_Audit.log"
AGENT_SENTINEL_REPORT_FILE="Reports/Sentinel_Last_Assessment.json"
AGENT_OPERATOR_REPORT_FILE="Reports/Operator_Last_Run.json"
AGENT_RUNTIME_HEARTBEAT_FILE="Reports/Agent_Runtime_Heartbeat.json"
AGENT_RUNTIME_LOCK_FILE=".agent_runtime.lock"
AGENT_RUNTIME_INTERVAL_SEC="20"
AGENT_RUNTIME_JITTER_PCT="0.25"
AGENT_RUNTIME_MAX_CYCLES="5"
AGENT_SENTINEL_AUTO_RESPONSE="1"
AGENT_SENTINEL_RISK_THRESHOLD="70"
AGENT_OPERATOR_ALLOW_EXECUTE="0"

DEADSHOT_HEARTBEAT_MAX_AGE_SEC="120"

KILL_SWITCH="0"
KILL_SWITCH_FILE="Quarantine/KILL_SWITCH"
KILL_SWITCH_SLEEP_SEC="3600"

EXFIL_UPLOAD_BPS_THRESHOLD="0"
EXFIL_SUSTAIN_CYCLES="3"
